---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import PostPreview from '../components/PostPreview.astro';
import Pagination from '../components/Pagination.astro';

// page
let title = 'Don’s Blog';
let description = 'An example blog on Astro';
let canonicalURL = Astro.request.canonicalURL;
const author = authorData[collection.params.author];

// collection
import authorData from '../data/authors.json';
export let collection: any;
export async function createCollection() {
  /** Load posts */
  let allPosts = Astro.fetchContent('./post/*.md');
  let allAuthors = new Set();

  /** Loop through all posts, gather all authors */
  let routes = [];
  for (const post of allPosts) {
    if (!allAuthors.has(post.author)) {
      allAuthors.add(post.author);
      routes.push({ author: post.author });
    }
  }

  return {
    /** Sort posts newest -> oldest, filter by params.author */
    async data({ params }) {
      allPosts.sort((a, b) => new Date(b.date) - new Date(a.date));
      return allPosts.filter((post) => post.author === params.author);
    },
    /** Set page size */
    pageSize: 3,
    /** Set permalink URL */
    permalink: ({ params }) => `/author/${params.author}`,
    /** Pass back all routes so Astro can generate the static build */
    routes,
  };
}
---

<html>
  <head>
    <title>{title}</title>
    <MainHead
      title={title}
      description={description}
      image={collection.data[0].image}
      canonicalURL={canonicalURL}
      prev={collection.url.prev}
      next={collection.url.next}
    />
  </head>

  <body>
    <Nav title={title} />

    <main class="wrapper">
      <h2 class="title">
        <div class="avatar"><img class="avatar-img" src={author.image} alt=""}></div>
        {author.name}
      </h2>
      <small class="count">{collection.start + 1}–{collection.end + 1} of {collection.total}</small>
      {collection.data.map((post) => <PostPreview post={post} author={author} />)}
    </main>

    <footer>
      <Pagination prevUrl={collection.url.prev} nextUrl={collection.url.next} />
    </footer>
  </body>
</html>
