---
import MainHead from '../../components/MainHead.astro';
import Header from '../../components/Header.jsx';
import Pagination from '../../components/Pagination.jsx';
import PostExcerpt from '../../components/PostExcerpt.jsx';

// page
let title = 'Posts';
let description = `Mike Valstar's view on the world of programming`;
let canonicalURL = Astro.request.canonicalURL;

// collection
//import authorData from '../data/authors.json';
export async function getStaticPaths({paginate}) {

  /** Load posts, sort newest -> oldest */
  let allPosts = Astro.fetchContent('../post/*.md');
  allPosts.sort((a, b) => new Date(b.pubDate) - new Date(a.pubDate));

  return paginate(allPosts, {

    /** Set page size */
    pageSize: 10,
    /** Generate RSS feed (only for main /posts/ feed) */
    rss: {
      title: 'Mike Valstar\'s Thouughts',
      description: 'Mike Valstar\'s view on the world of programming',
      customData: `<language>en-us</language>`,
      item: (item) => ({
        title: item.title,
        description: item.excerpt,
        link: item.url,
        pubDate: item.pubDate,
      }),
    }
  });
}

const { page } = Astro.props;
console.log(page);
---

<html>
  <head>
    <MainHead
      title={title}
      description={description}
      image={page.data[0].image}
      canonicalURL={canonicalURL}
      prev={page.url.prev}
      next={page.url.next} />
  </head>

  <body>
    <Header title={title} />

    <main class="px-4 py-4">
      <div class='max-w-5xl mx-auto text-center'>
        <h2>All Posts</h2>
        <small class="count">{page.start + 1}–{page.end + 1} of {page.total}</small>
      </div>
      {page.data.map((post) => <PostExcerpt post={post} />)}
    </main>

    <footer>
      <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    </footer>
  </body>
</html>
