@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Nunito Sans', sans-serif;
  @apply bg-white text-gray-700 dark:bg-black dark:text-gray-300;
}

h1 {
  @apply text-4xl font-bold mb-4 text-black dark:text-gray-100;
}

h2 {
  @apply text-3xl font-bold mb-4 text-black dark:text-gray-100;
}

h3 {
  @apply text-xl font-bold mb-4 text-black dark:text-gray-100;
}

h4 {
  @apply text-sm italic font-bold mb-4 text-gray-700 dark:text-gray-100;
}

p {
  @apply mb-2;
}

.article {
  @apply text-lg;
}

.article p {
  @apply mb-4;
}

.article ul{
  @apply list-disc list-inside mb-4;
}

.article ol{
  @apply list-decimal list-inside mb-4;
}

.article em{
  @apply italic text-gray-500 dark:text-gray-600;
}

.article i{
  @apply italic;
}

.article b{
  @apply font-bold;
}

.article code{
  @apply font-mono text-base text-purple-600 dark:text-purple-400;
}

.article code:before, .article code:after{
  content: "`";
}

.link, .article a{
  @apply text-blue-500 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-600;
}

.css-showcase{
  background: #333;
  color: #DDD;
  border: 1px solid gray;
}

.clearfix{
  clear: left;
}

.css-showcase-left{
  padding: 1em 0 1em 1.5em;
}

.css-showcase-right{
  padding: 1em 2em;
}

.css-showcase-css{
  font-family: monospace;
  font-size: 1.05em;
}

.css-showcase-css .prop{
  color: #77F;
  display: inline-block;
  width: 12em;
  padding-left: 1.5em;
}

.css-showcase-css .val input[type="text"], .css-showcase-css .val input[type="number"]{
  width: 5.5em;
  border: 0;
  border-bottom: 1px dashed #999;
  padding: 0;
  background: transparent;
}

.css-showcase-css .class{
  color: white;
  font-weight: bold;
}

.css-showcase-highlight .huge{
  font-size: 12em;
  line-height: 0.95em;
}
.css-showcase-highlight .letter{
  outline: 1px solid rgba(255, 0, 0, 0.5);
}
.css-showcase-highlight .word{
  outline: 1px solid rgba(70, 70, 255, 0.9);
}

