---
import MainHead from '../components/MainHead.astro';
import Header from '../components/Header.jsx';

let title = "About Mike";
---
<html>
  <head>
    <MainHead
      title={title}
      canonicalURL={Astro.request.canonicalURL}
    />
  </head>
  <body>
    <Header title={title} />

    <main class="container max-w-5xl mx-auto px-4 py-4">
      <h2>{title}</h2>
      Unfortunatly I have not had time to fill out much about me just yet. Coming soon...
    </main>

  </body>
</html>
