---
import Header from '../components/Header.jsx';
import PostExcerpt from '../components/PostExcerpt.jsx';
import MainHead from '../components/MainHead.astro';
import Pagination from '../components/Pagination.jsx';

let title = 'Mike Valstar.com';
let description = `Mike Valstar's view on the world of programming`;

let allPosts = Astro.fetchContent('./post/*.md');
allPosts.sort((a, b) => new Date(b.pubDate) - new Date(a.pubDate));
let firstPage = allPosts.slice(0, 10);
---

<html>
  <head>
    <title>{title}</title>
    <MainHead
      title={title}
      description={description}
      canonicalURL={Astro.request.canonicalURL.href} />
  </head>

  <body>
    <Header />

    <main class="container mx-auto">
      {firstPage.map((post) => <PostExcerpt post={post} />)}
    </main>

    <footer>
      <Pagination nextUrl="/posts/2" />
    </footer>
  </body>
</html>
