---
import MainHead from '../components/MainHead.astro';
import Header from '../components/Header.jsx';

let title = "Projects";
---
<html>
  <head>
    <MainHead
      title={title}
      canonicalURL={Astro.request.canonicalURL}
    />
  </head>
  <body>
    <Header title={title} />

    <main class="container max-w-5xl mx-auto px-4 py-4">
      <h2>{title}</h2>

      <article class='px-4 py-4'>
        <h3><a class='hover:text-blue-800' href="http://medusajs.org">Medusajs</a></h3>

        <p>A Promise based caching library for node or the browser.</p>

        <a class='link' href="https://github.com/mikevalstar/medusajs">View on Github</a>
      </article>
    </main>

  </body>
</html>
