---
import MainHead from '../components/MainHead.astro';
import Header from '../components/Header.jsx';
import {dateForm} from '../lib/formatters.js';

const { content } = Astro.props;
---

<html>
  <head>
    <MainHead title={content.title} description={content.description} image={content.image} canonicalURL={Astro.request.canonicalURL} />
  </head>

  <body>
    <Header title={content.title} />

    <main class="container max-w-5xl mx-auto px-4 py-4">
      <h1>{content.title}</h1>
      <h4>Created: {dateForm(content.pubDate)}</h4>
      {content.updated ? <h4>Updated: {dateForm(content.updated)}</h4> : ''}
      <article class='article'>
        <slot />
      </article>

      <div id='disqus_thread' class='mt-6 mb-8'></div>
      <script src="/disqus.js"></script>

    </main>
  </body>
</html>
